<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>playback-project.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>162FF25A1CE75B9D00939860</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>162FF26E1CE75B9D00939860</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>162FF2791CE75B9D00939860</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
